body {
    background-color: rgb(108, 194, 91);
    font-family: 'Ubuntu', sans-serif;
}

.divFather {
    background-color: white;
    border: 3px groove black;
    border-radius: 30px;
    margin: 7%;
    padding-bottom: 3%;
}

button {
    background: #000;
    background-image: -webkit-linear-gradient(top, #000, #999);
    background-image: -moz-linear-gradient(top, #000, #999);
    background-image: -ms-linear-gradient(top, #000, #999);
    background-image: -o-linear-gradient(top, #000, #999);
    background-image: linear-gradient(to bottom, #000, #999);
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    text-shadow: 1px 1px 3px #000000;
    font-family: Arial;
    color: #ffffff;
    font-size: 10px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    cursor: pointer;
  }
  
  button:hover {
    background: #999;
    background-image: -webkit-linear-gradient(top, #999, #000);
    background-image: -moz-linear-gradient(top, #999, #000);
    background-image: -ms-linear-gradient(top, #999, #000);
    background-image: -o-linear-gradient(top, #999, #000);
    background-image: linear-gradient(to bottom, #999, #000);
    text-decoration: none;
  }

  .buttonBottom {
      padding-top: 10%;
  }

  .stageDiv {
      padding: 3%;
  }