body{
    text-align: center;
}
#centrar-elementos-na-pagina{
    width: 100vw;
    height: 100vh;
    background: burlywood;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}
#criar{
    width: 500px;
    height: auto;
    background:rgb(152, 236, 177);
    border-radius: 20px;
}
.estilo-botoes{
    border-radius: 100px;
    cursor: pointer;
}