.centralizar-estrutura{
    text-align: center;
}
#centrar-elementos-na-pagina{
    width: 100vw;
    height: 100vh;
    background: burlywood;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}
#container{
    width: 500px;
    height: auto;
    background:rgb(152, 236, 177);
    border-radius: 20px;
}
.estilo-botoes{
    border-radius: 100px;
    cursor: pointer;
}
/*.adicionar-estilo-lista-de-tarefas{         informações a serem usadas no decorrer do projeto
    text-decoration: line-through;   
    color: red;
}*/