
*{
    box-sizing: border-box
}

.completed{
    text-decoration:line-through;
    color:#808080;
}

/* 
font-family: 'Mansalva', cursive;
font-family: 'Roboto Mono', monospace;
font-family: 'Shadows Into Light', cursive;
font-family: 'Righteous', cursive;
font-family: 'Permanent Marker', cursive
*/
.btn{
    cursor:pointer;
} 
li{
    cursor:pointer;
}
button:hover{
    filter: contrast(250%);
    
}

main{
    width: 100vw;
    height: 100vh;
    background:url("/icons/images.jpeg");
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding:150px;
    
}

body{
    margin: 0;
    padding: 0;
}

.container{
    background: white;
    font-family: 'Mansalva', cursive;
    border:2px #000000 solid;
    width: auto;
    height: auto;
    padding: 15 40 40 40px;
}

.btn{
    border-radius: 50px;
    border: 0px;
    padding: 10px 20px;
    margin: 5px;
    color: aliceblue;
    font-size: 15px;
    font-family: 'Permanent Marker', cursive
}

.btn img{
    height: 13px;
}

.blue{
    background: darkblue;
}

.red{
    background:darkred;
}

.green{
    background: green;
}

.orange{
    background: orange;
}

li{
    font-size: 20px;
}

#input_txt{
    font-size: 16px;
}

.input{
    display: flex;
    align-items: center;
}
h1{
    display: flex;
    align-items: center;
    font-size:40px;
}

h1 img{
    height:40px;
    margin-left: 10px;
}

.instructions{
    font-size:20px;
}